---
layout: default
---

<section>

    <br>
    <a href="{{ "/resume" | prepend: site.baseurl }}">[resume html]</a>
    <a href="http://bit.ly/pmd323resume">[resume pdf]</a>  
    <a href="http://stackoverflow.com/users/1476240/pedro-m-duarte?tab=answers">[stack overflow answers]</a>
  </p>
  <a href="http://stackexchange.com/users/1593422/pedro-m-duarte">
      <img src="http://stackexchange.com/users/flair/1593422.png" width="208" height="58" 
      alt="profile for Pedro M Duarte on Stack Exchange, a network of free, community-driven Q&amp;A sites" 
      title="profile for Pedro M Duarte on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a>

  <h3>Journal</h3>
  <ul class="posts">
    {% for post in site.categories.journal %}
      <li>
      <span class="post-date" style="font-weight:bold">
          {{ post.date | date: "%b %-d, %Y" }}
      </span> - 
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        <a href="{{ post.url | prepend: site.baseurl }}">read more ...</a> </p>
      </li>
    {% endfor %}
  </ul>

  <br>
  <h3>Projects</h3>

  {% for repo in site.categories.recentprojects %}
  {% include repo-detail.html %}
  {% endfor %}
  <br>

  <h5>from graduate school:</h5>
  {% for repo in site.categories.gradschool %}
  {% include repo-detail.html %}
  {% endfor %}
  <br>
  <hr>

</section>
